* {
  box-sizing: border-box;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} 
*/

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-family: 'Pacifico', cursive;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}