.homeScreen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-family: inherit;
    height: auto;
    width: 95vw;
}

.homeScreen h1 {
    font-size: 3em;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

.logoAttribution {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80%;
    max-height: 800px;
    max-width: 500px;
}

.homeForms {
    display: flex;
    /*height: 30em; */
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome span {
    margin-left: .5em;
    color: #8844bb;
}

.joinGameForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.joinGameForm label {
    margin: 0.5em 0.5em;
}

.joinGameForm input {
    display: flex;
    max-width: 250px;
    font-family: 'Inconsolata', monospace;
}

.homeButton {
    font-size: 2em;
}

.roomInvalid {
    color: red;
}

input:invalid:focus {
    border: 2px solid red;
}

input:valid:focus {
    border: 2px solid black;
}