
.enterNameScreen {
    display: flex;
    height: 50vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.enterNameForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1em 1em;
    margin: 1em 1em;
}

.enterNameScreen input {
    padding: 2px;
    margin: 10px;
    font-size: 1em;
    height: 50px;
}

.enterNameScreen label {
    font-size: 1.3em;
}

#errorMsg, #nameTakenErrMsg {
    font-size: 2em;
    margin: 1em 1em;
    color: rgb(231, 61, 61);
}

.submitNameBtn {
    display: flex;
    width: auto;
    font-size: 1.5em;
    font-weight: 600;
    margin: 1em;
    justify-content: center;
    background-color: hsl(210deg,15%,20%);
    color: hsl(0deg,0%,100%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
